@font-face {
  font-family: "Space Mono";
  src: url(fonts/SpaceMono-Regular.ttf);
}
/* remove default style input with type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  min-width: 375px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5e4e7;
  padding: 100px 0;
}
ul,
ol {
  list-style: none;
}
input {
  border: none;
  width: 100%;
  height: 48px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f3f9fa;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 24px;
  text-align: right;
  line-height: 36px;
  padding: 6px 15px 6px 35px;
  color: #00474b;
}
input:focus {
  border: 1px solid #26c2ae;
  outline: none;
}
input:invalid {
  border: 1px solid #e17052;
}
label {
  font-family: "Space Mono";
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  color: #5e7a7d;
}
.container {
  width: 920px;
  height: 481px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  margin: 100px 0;
  padding: 32px;
  display: flex;
  flex-direction: row;
}
.right {
  width: 413px;
  height: 417px;
  background-color: #00474b;
  border-radius: 15px;
  margin-left: 32px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

/* Start=> left content */
.left {
  width: 379px;
  height: 388px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  padding: 14px;
}
.row-1 {
  flex: 1;
}
.row-2 {
  flex: 2;
  margin: 25px 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 10px;
}
.grid-item {
  text-align: center;
  width: 110px;
  height: 48px;
  padding-top: 5px;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  background-color: #00474b;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.grid-item:last-child {
  padding-top: 0;
}
.grid-item:hover {
  background-color: #9fe8df;
  color: #00474b;
}
.grid-item:active {
  background-color: #26c2ae;
  color: #00474b;
}
/* .grid-item:active {
  background-color: #26C2AE;
  color: #00474B;
} */
.grid-item.active {
  background-color: #26c2ae;
  color: #00474b;
}
input.custom-tip {
  margin-top: 0;
  font-weight: 700;
  padding: 6px 10px;
  text-align: center;
}
.nav {
  margin: 20px 0;
}
.input-box {
  position: relative;
}
.icon {
  position: absolute;
  top: 24px;
  left: 15px;
}
#bill-icon {
  width: 10px;
  height: 16px;
  background: url(images/icon-dollar.svg);
}
#person-icon {
  width: 13px;
  height: 16px;
  background: url(images/icon-person.svg);
}
.error-message {
  color: #e17052;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  display: inline;
  float: right;
  display: none;
  transition: all 0.3s ease-in-out;
}

/* End=> left */
/* Start=> right content */

.btn {
  width: 100%;
  height: 48px;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  background-color: #26c2ae;
  border-radius: 5px;
  color: #00474b;
  transition: all 0.2s ease;
  outline: none;
  border: none;
  margin-top: 75px;
  cursor: pointer;
}
.btn-hover:hover {
  background-color: #9fe8df;
}
.btn-disable {
  background-color: #0d686d;
  color: #00474b;
  cursor: not-allowed;
}
.box {
  display: flex;
  font-family: "Space Mono";
  font-weight: bold;
  margin-bottom: 20px;
}
.box-content {
  flex: 1;
  display: inline;
}
.tip-amount {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-top: 15px;
}
.text-person {
  font-size: 13px;
  line-height: 19px;
  color: #7f9d9f;
}
.number {
  font-size: 48px;
  line-height: 71px;
  text-align: right;
  letter-spacing: -1px;
  color: #26c2ae;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Responsive design */
@media only screen and (max-width: 900px) {
  .container {
    width: 375px;
    height: 789px;
    flex-direction: column;
    border-radius: 25px 25px 0 0;
    padding: 24px;
    margin: 50px 0;
  }
  .left {
    width: 327px;
    height: 468px;
    margin-right: 0;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px 10px;
  }
  .grid-item {
    width: 140px;
  }
  .right {
    width: 327px;
    height: 257px;
    margin-left: 0;
    padding: 24px;
    margin-top: 25px;
  }
  .box {
    margin-bottom: 10px;
  }
  .btn {
    margin-top: 15px;
  }
  .number {
    font-size: 32px;
    line-height: 47px;
    letter-spacing: -0.666px;
  }
  .tip-amount {
    padding-top: 5px;
  }
}
